**/.env
**/.env.local
**/.env.production
**/.env.production.local
**/node_modules
**/public
**/client_secret.json
**/ca_bundle.crt
**/private.key
**/certificate.crt

# Ignore .DS_Store files in all subfolders
**/.DS_Store
