@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-rgb: 245 181 61;
  --secondary-rgb: 245 204 127;
  --content-rgb: 26 36 51;
  --bkg-rgb: 255 255 255;
}

/* :root[theme="dark"] {
  --primary-rgb: 26 36 51;
  --secondary-rgb: 245 204 127;
  --content-rgb: 245 181 61;
  --bkg-rgb: 26 36 51;
} */

body {
  color: rgb(var(--content-rgb));
  --tw-bg-opacity: 1;
  background-color: rgb(var(--bkg-rgb) / var(--tw-bg-opacity));
  min-height: 100vh;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-internal-autofill-selected  {
  background-color: none;
}

.h-custom {
  height: calc(100vh - 64px);
}

.editorContainer .ql-editor {
  @apply scrollbar-thin scrollbar-thumb-gray-100;
}


/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

